@media screen and (max-width: 768px) and (min-width: 320px) {
   
   .navbar-nav>li>a{
      padding-top: 5px;
      padding-bottom: 5px;
      
   }

   .header-logo-img {
      width: 130px;
   }
   .img-nesto {
      width: 350px;
      height: 250px;
}
  
  .img-nesto {
      height: 290px; 
    }

  .no-padding {
    width: 55%;
    margin: 0 auto;
    }
    .contacts {
      height: 400px;
    }
    .contacts-title {
      font-size: 25px;
    }
    .contact-number {
      font-size: 20px;
    }
    .contact-text-sm {
      font-size: 12px;
    }
    .carousel-caption h1 {
      margin-top: 0px;
      margin-bottom: 15px;
      font-size: 30px;
    } 
    .carousel-caption h4 {
      font-size: 15px;
    }
    .carousel-caption h5 {
      margin-top: 20px;
      font-size: 25px;
    }
  }
@media screen and (max-width: 450px) and (min-width: 100px) {
  .navbar-nav>li>a {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12px;
  }
  .navbar-wrapper {
    padding-top: 0px;
  }
  .carousel-caption h2 {
  font-size: 14px;
  }
  .carousel-caption h1 {
    font-size: 20px;
  }
  .header-logo-img {
      width: 100px;
   }
}
@media screen and (max-width: 936px) and (min-width: 320px) {
    .img-thumbnail {
      width: 350px;
      height: 150px;
}
}
@media screen and (max-width: 992px) and (min-width: 768px) {
    .img-nesto {
      height: 225px; 
    }
}
